# ===== DATABASE =====
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/shopora

# ===== AUTH =====
JWT_SECRET=koi_lamba_random_string

# ===== GOOGLE OAUTH =====
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=https://your-backend.onrender.com/api/auth/google/callback

# ===== FRONTEND =====
FRONTEND_URL=https://your-frontend.vercel.app
ALLOWED_ORIGINS=https://your-frontend.vercel.app

# ===== RAZORPAY =====
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# ===== SERVER =====
PORT=5000
